# Python
__pycache__/
*.pyc
.env
.venv/
venv/
.ipynb_checkpoints/
AI-FPA-Insights/


# dbt
target/
dbt_packages/
logs/

# Data
data/raw/*.csv
data/processed/*.csv

# IDE / OS
.DS_Store
.vscode/
fpa_env/
